<p id="notice"><%= notice %></p>

<h1>Calificaciones</h1>

<table>
  <thead>
    <tr>
      <th>Nota</th>
      <th>Examen</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.grade %></td>
        <td><%= grade.exam.title %></td>
        <td><%= grade.pupil.name + ' ' + grade.pupil.surname %></td>
        <td><%= link_to 'Mostrar', course_exam_grade_path(@exam.course,@exam,grade) %></td>
        <td><%= link_to 'Editar', edit_course_exam_grade_path(@exam.course,@exam,grade) %></td>
        <td><%= link_to 'Eliminar', course_exam_grade_path(@exam.course,@exam,grade), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar nota', new_course_exam_grade_path %>
