<p id="notice"><%= notice %></p>

<h1>Calificaciones</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="bg-info text-white">Alumno</th>
      <th class="bg-info text-white">Examen</th>
      <th class="bg-info text-white">Nota</th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |p| %>
      <tr>
        <td><%= p.full_name %></td> 
        <td><%= @exam.title %></td>
        <% if p.rindio?(@exam) %>
          <td><%= p.nota(@exam) %></td>
        <% else %>
          <td>Ausente</td>
        <% end%>  
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
<!-- <%= link_to 'Agregar nota', new_course_exam_grade_path %> | -->
<%= link_to 'Volver atras', course_exams_path(@exam.course) %>
</div>