<p id="notice"><%= notice %></p>

<h1>Calificaciones</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Examen</th>
      <th>Nota</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%=  grade.pupil.full_name %></td> 
        <td><%= grade.exam.title %></td>
        <td><%= grade.grade %></td>
        <td><%= link_to 'Editar', edit_course_exam_grade_path(@exam.course,@exam,grade) %></td>
        <td><%= link_to 'Eliminar', course_exam_grade_path(@exam.course,@exam,grade), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
<!-- <%= link_to 'Agregar nota', new_course_exam_grade_path %> | -->
<%= link_to 'Volver atras', course_exams_path(@exam.course) %>
</div>