<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @grade.grade %>
</p>

<p>
  <strong>Exam:</strong>
  <%= @grade.exam.title %>
</p>

<p>
  <strong>Pupil:</strong>
  <%= @grade.pupil.name + ' ' + @grade.pupil.surname %>
</p>

<%= link_to 'Editar', edit_course_exam_grade_path(@exam.course,@exam,@grade) %> |
<%= link_to 'Atras', course_exam_grades_path(@exam.course,@exam) %>
