<!--<p id="notice"><%= notice %></p>-->

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Año</th>
      <th>Titulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.year %></td>
        <td><%= course.title %></td>
        <td><%= link_to 'Mostrar', course %></td>
        <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar curso', new_course_path %>
