<h1>Resultados de la cursada</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      	<th class="bg-info text-white">Alumnos</th>
      	<% @exams.each do |e| %>
       		<td class="bg-info text-white"> <%= e.title + ' ' + e.date.to_s %></td>
       	<% end %>
    </tr>
  </thead>
<tbody>
<% @hash_p.each do |k, p| %>
      <tr>
        <td><%= p[:nombre] %></td>
        <% @exams.each do |e| %>
        	<% if e.grades.size > 0%>
        		<% if p[e.id].nil? %>
        			<td> Ausente </td>
        		<% else %>
        			<% if p[e.id] >= e.min_grade %>
        				<td> <%= p[e.id].to_s + '(Aprobado)' %></td>
        			<% else %>
        				<td> <%= p[e.id] %></td>
        			<% end %>
        		<% end %>
        	<% else %>
        		<td></td>
        	<% end %>
        <% end %>
      </tr>
<% end %>
<tr>
	<tr></tr>
	<td class="bg-primary text-white">Porcentaje de aprobacion</td>
<% @exams.each do |e| %>
	<td class="bg-primary text-white"><%= @promedios[e.id] %></td>
<% end %>
</tr>
<tr>
	<td class="bg-warning text-white">Ausentes</td>
<% @exams.each do |e| %>
	<td class="bg-warning text-white"><%= @ausencias[e.id] %></td>
<% end %>
</tr>
<tr>
  <td class="bg-success text-white">Aprobados</td>
<% @exams.each do |e| %>
  <td class="bg-success text-white"><%= @aprobados[e.id] %></td>
<% end %>
</tr>
<tr>
  <td class="bg-danger text-white">Desaprobados</td>
<% @exams.each do |e| %>
  <td class="bg-danger text-white"><%= @desaprobados[e.id] %></td>
<% end %>
</tr>

</tbody>
</table>
<div align="center">
<%= link_to 'Volver al curso', course_path(@course) %>
</div>