<%= form_with(model: [@course,pupil], local: true) do |form| %>
  <% if pupil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pupil.errors.count, "error") %> prohibited this pupil from being saved:</h2>

      <ul>
      <% pupil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pupil_name, placeholder:"Ingrese el nombre", required:true %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :pupil_surname, placeholder:"Ingrese el apellido", required:true %>
  </div>

  <div class="field">
    <%= form.label :legajo %>
    <%= form.text_field :legajo, id: :pupil_legajo, placeholder:"Ingrese el n° de legajo", required:true %>
  </div>

  <div class="field">
    <%= form.label :dni %>
    <%= form.number_field :dni, id: :pupil_dni, min:"1", placeholder:"Ingrese el n° de dni", required:true %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :pupil_email, placeholder:"Ingrese el email", required:true %>
  </div>

  <!--<div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :pupil_course_id %>
  </div>-->

  <div class="actions">
    <%= form.submit "Guardar alumno" %>
  </div>
<% end %>
