<p id="notice"><%= notice %></p>

<h1>Alumnos inscriptos</h1>

<table>
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Legajo</th>
      <th>Dni</th>
      <th>Email</th>
      <th>Cursada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.surname %></td>
        <td><%= pupil.name %></td>
        <td><%= pupil.legajo %></td>
        <td><%= pupil.dni %></td>
        <td><%= pupil.email %></td>
        <td><%= pupil.course.title %></td>
        <td><%= link_to 'Mostrar', course_pupil_path(@course,pupil) %></td>
        <td><%= link_to 'Editar', edit_course_pupil_path(@course,pupil) %></td>
        <td><%= link_to 'Eliminar', course_pupil_path(@course,pupil), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar alumno', new_course_pupil_path %> |
<%= link_to 'Volver al curso', course_path(@course) %>
