<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pupil.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @pupil.surname %>
</p>

<p>
  <strong>Legajo:</strong>
  <%= @pupil.legajo %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @pupil.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pupil.email %>
</p>

<p>
  <strong>Cursada:</strong>
  <%= @pupil.course.title %>
</p>

<%= link_to 'Editar', edit_course_pupil_path(@pupil.course,@pupil) %> |
<%= link_to 'Atras', course_pupils_path(@pupil.course) %>
