<p id="notice"><%= notice %></p>

<h1>Examenes</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Titulo</th>
      <th>Nota minima de aprobacion</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.date %></td>
        <td><%= exam.title %></td>
        <td><%= exam.min_grade %></td>
        <td><%= exam.course.title %></td>
        <td><%= link_to 'Mostrar', course_exam_path(@course,exam) %></td>
        <td><%= link_to 'Editar', edit_course_exam_path(@course,exam) %></td>
        <td><%= link_to 'Eliminar', course_exam_path(@course,exam), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar examen', new_course_exam_path %>
