<p id="notice"><%= notice %></p>

<h1>Examenes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="bg-info text-white">Fecha</th>
      <th class="bg-info text-white">Titulo</th>
      <th class="bg-info text-white">Nota minima de aprobacion</th>
      <th class="bg-info text-white">Curso</th>
      <th colspan="4" class="bg-info text-white"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.date %></td>
        <td><%= exam.title %></td>
        <td><%= exam.min_grade %></td>
        <td><%= exam.course.title %></td>
        <td><%= link_to 'Cargar notas', gradesupload_course_exam_path(@course,exam) %></td>
        <td><%= link_to 'Ver notas', course_exam_grades_path(@course,exam) %></td>
        <td><%= link_to 'Editar', edit_course_exam_path(@course,exam) %></td>
        <td><%= link_to 'Eliminar', course_exam_path(@course,exam), method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
<%= link_to 'Agregar examen', new_course_exam_path %> |
<%= link_to 'Volver al curso', course_path(@course) %>
</div>
