<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @exam.title %>
</p>

<p>
  <strong>Min grade:</strong>
  <%= @exam.min_grade %>
</p>

<p>
  <strong>Course:</strong>
  <%= @exam.course.title %>
</p>

<%= link_to 'Edit', edit_course_exam_path(@exam.course,@exam) %> |
<%= link_to 'Back', course_exams_path(@exam.course) %>
