<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @exam.title %>
</p>

<p>
  <strong>Nota minima de aprobacion:</strong>
  <%= @exam.min_grade %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @exam.course.title %>
</p>

<%= link_to 'Editar', edit_course_exam_path(@exam.course,@exam) %> |
<%= link_to 'Atras', course_exams_path(@exam.course) %>

